@import "../../../styles/common";
@import "../../../styles/custom";

// Signup Options
.signup-options__buttons {
  button {
    height: 4rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    letter-spacing: 0;
  }
  button.pay {
    color: #4ba2f2;
    border-color: #4ba2f2;
    box-shadow: 0 3px 8px 0 rgba(26, 80, 153, 0.3);
  }
}

// Signup Options modal

.ant-modal-header {
  padding: 1.5rem 1rem;
}

.ant-modal-close {
  padding: 0.75rem;
}

a.external-link {
  .ant-btn-background-ghost.ant-btn-primary {
    padding: 0px;
    border: none;
   }
}

.modal-disclaimer {
  font-family: @font-family-secondary;
  padding-top: 1rem;
  font-size: 1rem;
  color: #788187;
}