// Background color for `<body>`
@body-background        : #fff;
// Base background color for most components
@component-background   : #fff;
@font-family            : Whitney, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
@code-family            : Consolas, Menlo, Courier, monospace;
@heading-color          : #202020;
@text-color             : fade(#000, 45%);
@text-color-secondary   : fade(#000, 43%);
@heading-color-dark     : fade(#fff, 97%);
@text-color-dark        : fade(#fff, 91%);
@text-color-secondary-dark: fade(#fff, 67%);
@font-size-base         : 18px;
@font-size-lg           : @font-size-base + 2px;
@line-height-base       : 1.4;
@border-radius-base     : 4px;
@border-radius-sm       : 2px;

#logo {
  width: 120px;
  margin-left: 0;
}

#app-logo {
  width: 220px;
  margin-bottom: 20px;
}

.signup-form {
  button[type="submit"] {
    width: 100%;
  }
}

.container {
  max-width: 360px !important;
  h1 {
    font-size: 24px;
  }
  p {
    font-size: 14px;
  }
}