
.user-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    white-space: nowrap;
}

.user-info .ant-avatar {
    margin-right: 10px;
}

.user-info > span {
    margin: 10px;
}
