// Signup Options
.signup-options__buttons {
  .wrapper {
    margin-right: 0;
    padding-right: 50px !important;
    padding-left: 50px !important;

    .special-tip {
      color: #1720c9 !important;
    }
  }
}

.signup-options__buttons.claim-account-active {
  .wrapper {
    border: 1px solid rgba(23, 32, 201, 0.6) !important;
    box-shadow: 0 10px 30px 0 rgba(47, 47, 47, 0.19) !important;
    border-radius: 10px !important;

    div > p {
      color: #1720c9 !important;
    }
  }
}

.signup_options_wrap {
  p {
    opacity: 0.6;
    font-family: HelveticaNeue;
    font-size: 18px;
    color: #2f2f2f;
    letter-spacing: 0;
    line-height: 24px;
    font-weight: 400;
  }
}
