<!DOCTYPE html>
<html>
    <% include ./partials/layout/head %>
    <body>
        <div class="main-wrapper">
            <div class="app" id="app">
                <% include ./partials/layout/header %>
                <% include ./partials/layout/menu.ejs %>
                <article class="content">
                    <section class="section">
                        <h1><%= title %></h1>
                        <div class="card">
                            <div class="card-block">
                                <% include ./pages/users %>
                            </div>
                        </div>
                    </section>
                </article>
            </div>
        </div>
        <% include ./partials/layout/scripts %>
    </body>
</html>